@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,400;1,500&family=Roboto+Slab:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: blanchedalmond;
}

.avt {
    display: flex;
    justify-content: center;
    /* căn ở giữa trình duyệt */
    align-items: center;
    margin-top: 30px;
}

img {
    border-radius: 50%;
}

@media only screen and (min-width: 375px ){
    .Gioithieu{
        margin: 0 30px 0 30px;
    }
}
.tt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* căn ở giữa trình duyệt */
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.btn {
    width: 200px;
    margin-top: 15px;
    padding: 10px 30px 10px 30px;
    border: 1px;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
}